body {
    font-family: PingFang-SC-Bold;
    font-weight: bold;
}

/*jqGrid内容自动换行*/

.ui-jqgrid tr.jqgrow td {
    white-space: normal !important;
    height: auto;
    vertical-align: text-top;
    padding: 8px;
    display: table-cell;
    vertical-align: middle;
}

/*隐藏file组件*/

.x-file {
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 0px;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 100;
    background: #000000;
    border: none;
    cursor: pointer;
}


/*layer button re-define*/

body .user-layer-class .layui-layer-btn a {
    border: none;
    background: #1ab394;
}

body .user-layer-class .layui-layer-btn .layui-layer-btn1 {
    border: none;
    background: #e6e6e6;
}

.detail-form-label {
    color: #179D82;
    font-size: 11pt;
    text-align: left;
}

.grid-row-warning {
    color: #179D82;
}

.grid-row-danger {
    color: #DC143C;
}

.ibox-title-center {
    text-align: center;
}

.festival-item-first {
    padding-bottom: 15px;
    border-bottom: 1px solid #f1f1f1;
}

.festival-item-middle {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #f1f1f1;
}

.festival-item-last {
    padding-top: 15px;
    padding-bottom: 15px;
}

.festival-item-left {
    text-align: center;
    width: 100px;
    padding-top: 10px;
    margin-right: 40px;
    margin-left: 20px;
}


/* 按钮样式统一开始 */
.unified-green-btn-global {
    background: #2BC2A3;
    border-color: #2BC2A3;
}

.unified-green-btn-global:hover {
    background: #2BC2A3;
    border-color: #2BC2A3;
}

.unified-green-btn-global:active {
    background: #2BC2A3;
    border-color: #2BC2A3;
}

.unified-green-btn-global:focus {
    background: #2BC2A3;
    border-color: #2BC2A3;
}

.unified-gray-btn-global {
    background: #DBDADE;
    border-color: #DBDADE;
    color: #6B6F81 !important;
}

.unified-gray-btn-global:hover {
    background: #DBDADE;
    border-color: #DBDADE;
    color: #6B6F81 !important;
}

.unified-gray-btn-global:active {
    background: #DBDADE;
    border-color: #DBDADE;
    color: #6B6F81 !important;
}

.unified-gray-btn-global:focus {
    background: #DBDADE;
    border-color: #DBDADE;
    color: #6B6F81 !important;
}

.unified-btn-global {
    border-radius: 4px;
    padding: 7px 16px;
    color: #fff;
}


.unified-btn-inline {
    border-radius: 2px;
    padding: 2px 5px;
    color: #fff;
}

/*修改/提交/修改密码/搜索按钮*/
.unified-change-btn-inline {
    background: #2BC2A3;
    border-color: #2BC2A3;
    color: #fff;
}

.unified-change-btn-inline:hover {
    background: #2BC2A3;
    border-color: #2BC2A3;
    color: #fff;
}

.unified-change-btn-inline:active {
    background: #2BC2A3;
    border-color: #2BC2A3;
    color: #fff;
}

.unified-change-btn-inline:focus {
    background: #2BC2A3;
    border-color: #2BC2A3;
    color: #fff;
}

/*删除/请假按钮*/
.unified-deleted-btn-inline {
    background: #F57B74;
    border-color: #F57B74;
    color: #fff;
}

.unified-deleted-btn-inline:hover {
    background: #F57B74;
    border-color: #F57B74;
    color: #fff;
}

.unified-deleted-btn-inline:active {
    background: #F57B74;
    border-color: #F57B74;
    color: #fff;
}

.unified-deleted-btn-inline:focus {
    background: #F57B74;
    border-color: #F57B74;
    color: #fff;
}

/*发布/取消发布/销假按钮*/
.unified-publish-btn-inline {
    background: #FF9B59;
    border-color: #FF9B59;
    color: #fff;
}

.unified-publish-btn-inline:hover {
    background: #FF9B59;
    border-color: #FF9B59;
    color: #fff;
}

.unified-publish-btn-inline:active {
    background: #FF9B59;
    border-color: #FF9B59;
    color: #fff;
}

.unified-publish-btn-inline:focus {
    background: #FF9B59;
    border-color: #FF9B59;
    color: #fff;
}

/*清空按钮*/
/*.unified-clear-btn-inline{*/
/*	background: #D8DADE;*/
/*}*/
/*a标签文字颜色*/
.unified-a {
    color: #4A90E2;
}

/* 按钮样式统一结束 */


/* self---css ---start*/
.red {
    margin-right: 4px;
    font-size: 12px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(255, 0, 0, 1);
}

.reds {
    color: red;
}

.greens {
    color: green;
}

#formSee .control-label {
    padding-top: 0px;
}

#formAdd .i-checks input {
    margin-left: -16px;
    margin-top: 2px;
}

#area {
    margin-left: 15px;
}

#area label {
    padding-right: 8px;
}

#orderList .form-group {
    margin: 4px 0;
}

table th > div, table td {
    /* white-space: normal; */
}

/* 订单管理-list-搜索---更多 */
#SearchConss {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    margin: 0;
    padding: 0;
    z-index: 999;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(107, 111, 129, 1);
    height: 100%;
    background: rgba(155, 155, 155, 0.59);
}

#SearchConss .form-horizontal .form-group {
    display: inline-block;
    width: 20%;
}

#SearchConss .form-horizontal .form-group:nth-child(1),
#SearchConss .form-horizontal .form-group:nth-child(2),
#SearchConss .form-horizontal .form-group:nth-child(3),
#SearchConss .form-horizontal .form-group:nth-child(4),
#SearchConss .form-horizontal .form-group:nth-child(5),
#SearchConss .form-horizontal .form-group:nth-child(6),
#SearchConss .form-horizontal .form-group:nth-child(7),
#SearchConss .form-horizontal .form-group:nth-child(8) {
    display: inline-block;
    width: 25%;
}

#SearchConss input, #SearchConss select {
    color: #555;
    height: 32px;
}

ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

em {
    font-style: normal;
}

/* self---css ---end*/


/*统计——用户评价*/
#userReviewList {
    margin-bottom: 10px;
}

#userReviewList .form-group {
    margin: 4px 0;
}

/*表单表头文字水平居中*/
#userReviewList .ui-jqgrid .table-bordered, .ui-jqgrid .table-bordered td, .ui-jqgrid .table-bordered th.ui-th-ltr {
    text-align: center !important;
}

#userReviewList .batch_opt {
    margin-bottom: 10px;
}

#userReviewList .clientType {
    padding: 5px !important;
    color: #fff;
    background: #21b9bb !important;
    border-radius: 2px;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}