#areasCon .ui-jqgrid, #gbox_transferTable{
	border: none !important;
}
#uploadImgBox{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0;
}
#uploadImgBox li{
	margin-right: 20px;
	list-style: none;
	position: relative;
}
#uploadImgBox li:last-of-type{
	margin-right: 0;
}
#uploadImgBox li span{
	position: absolute;
	top: 3px;
	right: -9px;
}
#recordsCon li{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-bottom: 20px;
}
#recordsCon li p:last-of-type{
	width: 100%;
	height: 30px;
	line-height: 30px;
	border-radius: 4px;
	border: 1px solid #f5f5f5;
	background: #f8f8f8;
}

#addArea{
	padding: 20px 0;
	box-sizing: border-box;
}
#addArea .content{
	display: flex;
	justify-items: flex-start;
	align-items: flex-start;
}
#addArea div.areaBox,
#addArea div.areaBox .itemBox{
	display: flex;
	flex-wrap: wrap;
	justify-items: flex-start;
	align-items: center;
	margin-bottom: 20px;
}
#addArea div.areaBox{
	align-items: flex-start;
	display: none;
}
#addArea div.areaBox.showBox{
	display: flex;
}
#addArea div.areaBox .itemBox div{
	padding: 6px 12px;
	border-radius: 3px;
	background: #f3f3f3 ;
	color: #333;
	cursor: pointer;
	margin-right: 10px;
	margin-bottom: 10px !important;
	position: relative;
}
#addArea div.areaBox .itemBox div span{
	/*display: block;*/
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #ff6a00;
	color: #fff;
	line-height: 20px;
	text-align: center;
	position: absolute;
	top: -10px;
	right: -10px;
	display: none;
}
#addArea div.areaBox .itemBox div.checkedLeval{
	background: #dc6068;
	color: #fff;
}
#addArea div.areaBox .itemBox div.checked{
	background: #1ab394;
	color: #fff;
}
/* 身份证照片上传按钮 */
#cardUploadBtn1,#cardUploadBtn2{
	width: 104px;
	height: 104px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px dashed #D4D4D4;
}
#cardUploadBtn2{
	margin-left: 40px;
}
#cardUploadBtn1 img,#cardUploadBtn2 img{
	width: 84px;height: 54px;
}
/* 增加银行卡按钮 */
.add-card-btn{
	height: 32px;
	border: 1px solid #27BCAD;
	background: transparent;
	color: #27BCAD;
	margin-top: 24px;
}
.add-card-btn:hover{
	color: #27BCAD;
}
.add-card-btn:active{
	color: #27BCAD;
	border: 1px solid #27BCAD;
}
/* 银行卡样式 */
.add-card-box{
	margin-top: 60px;
}
.add-card-item{
	margin-top: 60px;
}
.card-tit{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 40px;
	padding: 0 50px;
}
.card-tit span:first-of-type{
	font-size:16px;
	font-family:PingFang-SC-Bold,PingFang-SC;
	font-weight:bold;
	color:rgba(107,111,129,1);
}
.card-tit span:nth-of-type(2){
	flex: 1;
	width:520px;
	height:1px;
	background:rgba(216,218,222,1);
	margin: 0 10px;
}
.card-tit button{
	width:80px;
	height:30px;
	background:rgba(216,218,222,1);
	border-radius:3px;
	text-align: center;
}

.opertion{
	padding: 1px 3px !important;;
}

.add-result{
	border-left: 1px solid #f5f5f5;
}
.add-result .form-group{
	margin-bottom: 3px !important;
}
.add-result .result-show-village{
	padding: 2px 8px;
	background: #eee;
	border-radius: 3px;
	text-align: center;
	margin-right: 14px;
	margin-bottom: 10px;
	display: flex;
	justify-items: center;
	align-items: center;
}
.add-result .result-show-village img{
	width: 15px;
	margin-left: 5px;
}
.repairman-info{
	display: flex;
	justify-items: flex-start;
	align-items: center;
	margin-bottom: 20px;
	padding-left: 20px;
	font-size: 15px;
}
.repairman-info p{
	margin-right: 30px;
}
.transferTableAll .ui-jqgrid,
.transferTableEle .ui-jqgrid{
	border: none !important;
}


/*取消input[type='number']右侧箭头*/
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
	-webkit-appearance: none !important;
}
input[type="number"]{-moz-appearance:textfield;}


/*详情区域按钮样式*/
#AllBtnAction{
	/* width: 172px; */
	height: 30px;
	/* border-radius: 15px; */
	overflow: hidden;
	display: flex;
    justify-content: flex-start;
    align-items: center;
}
#AllBtnAction button{
	width: 86px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #f1f2f4;
	color: #6B6F81;
	border: none;
	outline: none;
	padding: 0;
	margin: 0;
}
#AllBtnAction button:first-of-type{
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
#AllBtnAction button:last-of-type{
	margin-left: -4px;
	border-left:1px solid rgba(216,218,222,1);
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}
#AllBtnAction button.active{
	background: #27BCAD;
	color: #fff;
}

#gbox_leaveRecordTable,
#gbox_optionRecordTable,
#gbox_cardInfoTable{
	border: none;
}

.layui-form-selected dl{
	max-height: 200px;
}

.layui-form-radio{
	margin-top: 0;
}


/* 搜索样式处理 */
.form-group>div{
	padding-left: 0;
}
.form-group.search-skill{
	height: 34px;
	line-height: 34px;
	border: 1px solid #e5e6e7;
	padding-left: 15px;
	margin-right: 15px !important;
}

/* 搜索商圈样式处理 */
.search_tradingArea{
	height: 34px;
}
.search_tradingArea .col-sm-6{
	width: 100%;
}
.layui-form-item .layui-form-select .layui-input{
	height: 34px;
}