/**
 * Created by song.
 */
#SearchConss {
    overflow-y: scroll;
}

.table > tbody > tr.success > td, .table > tbody > tr.success > th, .table > tbody > tr > td.success, .table > tbody > tr > th.success, .table > tfoot > tr.success > td, .table > tfoot > tr.success > th, .table > tfoot > tr > td.success, .table > tfoot > tr > th.success, .table > thead > tr.success > td, .table > thead > tr.success > th, .table > thead > tr > td.success, .table > thead > tr > th.success {
    background: #E3F9F5;
}

.layui-layer-setwin {
    font-size: 18px !important;
    top: 5px !important;
    right: 18px !important;
    cursor: pointer !important;
}

/* 搜索-start-1 */
.wrapper {
    padding: 0;
}

.bga, .bgb {
    padding: 0 10px;
}

#searchMore {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    border: 1px solid rgba(228, 229, 236, 1);
    font-family: PingFangSC-Regular;
    line-height: 15px;
}

#search {
    line-height: 15px;
}

#empty {
    line-height: 15px;
}

#seBtnAlls .btn {
    background: rgba(43, 194, 163, 1);
    font-size: 14px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    border: none;
    margin-right: -1px;
    margin-bottom: 8px;
    line-height: 16px;
    transform: skewX(-15deg);
    border-radius: 4px;
    position: relative;
    outline: none;
    margin-left: 4px;
}

#seBtnAlls .btn em {
    display: inline-block;
    transform: skewX(15deg);
}

#seBtnAlls .btn em.img {
    position: absolute;
    top: 0px;
    display: block;
    width: 24px;
    height: 30px;
}

#seBtnAlls button:nth-child(1) {
    margin-left: 5px;
    border-radius: 16px 4px 4px 16px;
}

#seBtnAlls button:nth-child(1) .img {
    left: -6px;
    border-radius: 15px 0 0 15px;
}

#seBtnAlls button:last-child {
    margin-left: 5px;
    border-radius: 4px 16px 16px 4px;
}

#seBtnAlls button:last-child .img {
    right: -4px;
    border-radius: 0 15px 15px 0;
}

#seBtnAlls button.btn .img {
    background: rgba(43, 194, 163, 1);
}

#seBtnAlls button.btn-info .img {
    background: rgba(241, 242, 244, 1);
}

#seBtnAlls .btn-info {
    background: rgba(241, 242, 244, 1);
    font-size: 14px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: #676a6c;
}

.btn .red, .btn .green {
    display: inline-block;
    vertical-align: top;
    font-style: normal;
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    padding: 0 8px;
    height: 16px;
    border-radius: 8px;
    line-height: 14px;
    margin-left: 4px;
}

.btn .red {
    background: #FF7D8D;
    color: rgba(255, 255, 255, 1);
    margin: 0 5px;
}

.btn .green {
    color: rgba(255, 255, 255, 1);
    background: #F7C169;
}

#search {
    background: #2BC2A3;
    color: white;
}

#table .red {
    background: #FFECEC;
    padding: 1px 4px 2px 4px;
    border-radius: 1px;
}

.yellow {
    color: rgba(255, 167, 38, 1);
    margin-right: 4px;
    font-size: 12px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
}

/* 搜索-end -1*/
/*  下拉搜索=start*/
#formSear {
    padding: 20px;
    background: rgba(255, 255, 255, 1);
    overflow-y: scroll;
}

#formSear #repairManCon .layui-form-select {
    min-width: 280px;
}

/*  下拉搜索=end*/
/* 详情-start */
#AllBtnAction .btn {
    height: 30px;
    background: rgba(255, 255, 255, 1);
    border-top: 1px solid rgba(216, 218, 222, 1);
    border-left: 1px solid rgba(216, 218, 222, 1);
    border-bottom: 1px solid rgba(216, 218, 222, 1);
    font-size: 12px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    line-height: 17px;
    margin: 15px 0;
    border-radius: 0;
}

#AllBtnAction .btn-info {
    background: #2BC2A3;
    color: white;
}

#AllBtnAction > span:nth-child(1) {
    border-radius: 15px 0 0 15px;
}

#AllBtnAction > span:last-child {
    border-radius: 0 15px 15px 0;
    border-right: 1px solid rgba(216, 218, 222, 1);
}

#btnACtTrans {
    margin: 0 16px;
}

#btnACtTrans .btn {
    height: 24px;
    line-height: 10px;
    margin-right: 6px;
    margin-bottom: 6px;
    background: rgba(255, 255, 255, 1);
    border-radius: 3px;
    border: 1px solid rgba(107, 111, 129, 1);
    font-size: 12px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(107, 111, 129, 1);
    outline: none;
}

#btnACtTrans .btn-info {
    color: rgba(43, 194, 163, 1);
    border: 1px solid rgba(43, 194, 163, 1);
}

.textColor {
    color: #2BC2A3
}

#AllBtnAction {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 1em;
}

/*  详情-end*/
ul {
    margin: 0;
    padding: 0;
}

#adressCon {
    position: relative;
}

#detailAddress {
    position: absolute;
    left: 0;
    top: 34px;
    background: white;
    width: 100%;
    border: 1px solid #2e6da4;
    line-height: 24px;
    text-indent: 4px;
}

.btn {
    position: relative;
    height: 30px;
    background: rgba(237, 238, 240, 1);
    border-radius: 3px;
    font-size: 12px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(107, 111, 129, 1);
    border: none;
}

/*bg详情色---start  */
#detail {
    color: rgba(241, 242, 244, 1);
}

/*bg详情色---end  */
/* 跟进记录-start */
#followUpRecordCon {
    background: white;
    padding: 26px 33px;
    margin: 0 10px;
    box-shadow: 0px 10px 24px -4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

#followUpRecordCon label {
    width: 120px;
}

#followUpRecordCon .inblock {
    display: inline-block;
    vertical-align: text-top;
    width: 80%;
    max-width: 670px;
}

#followUpRecordCon .form-group {
    padding: 0 1em;
}

#genjins {
    width: 60px;
    height: 26px;
    border-radius: 4px;
    border: 1px solid rgba(43, 194, 163, 1);
    font-size: 12px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    line-height: 26px;
    padding: 0;
    margin-bottom: 8px;
    background: rgba(43, 194, 163, 1);
    color: rgba(255, 255, 255, 1);
    margin-top: 16px;
}

#gjTable {
    margin-top: 6px;
    padding: 26px 33px;
    background: rgba(241, 242, 244, 1);
}

#gjTable li {
    height: auto;
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(107, 111, 129, 1);
    display: flex;
    border-bottom: 1px solid rgba(237, 238, 240, 1);
    line-height: 24px;
    padding-bottom: 10px;
}

#gjTable li span.a {
    flex: 1;
    padding-right: 12px;
    word-break: break-all;
}

#gjTable li span.c {
    width: 140px;
    padding: 0 4px;
}

#txtNewDateGj {
    border: 1px solid rgba(107, 111, 129, 1);
}

#gjNote {
    border: 1px solid rgba(107, 111, 129, 1);
    max-width: 720px;
}

/* 跟进记录-end */
#workOrderDetailCon > div > .form-group {
    text-indent: 2em;
    margin: 0;
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(107, 111, 129, 1);
    line-height: 18px;
}

#workOrderDetailCon > div > .form-group label {
    font-weight: 400;
}

#MaintettlemeSntCon {
    background: white;
    padding: 26px 33px;
    box-shadow: 0px 10px 24px -4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 0 10px;
}

#MaintettlemeSntCon > div > .form-group {
    margin: 0;
}

#workOrderDetailCon > div > .form-group em {
    font-style: normal;
}

#MaintettlemeSntCon > div > .form-group em {
    font-style: normal;
}

#workOrderDetailCon > div .title, #configInfoCon > div .title {
    width: 100%;
    font-weight: 700;
    padding: 30px 0 5px 0px;
    font-size: 14px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(107, 111, 129, 1);
    line-height: 20px;
}

/* #workOrderDetailCon> */
div .title label {
    font-size: 18px;
    font-weight: bold;
}

#MaintettlemeSntCon > div .title {
    width: 100%;
    font-weight: 700;
    color: #000;
    font-weight: 700;
    padding: 15px 0 15px 15px;
}

.selfBor {
    border: none;
}

.selfBors {
    border: none;
    height: auto;
}

.imgs {
    display: flex;
    flex-wrap: wrap;
}

.imgs li {
    list-style: none;
    position: relative;
    width: 120px;
}

#workOrderDetailCon .selfBor, #MaintettlemeSntCon .selfBor {
    display: inline-block;
    width: 84%;
    word-break: break-all;
    padding: 0;
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(107, 111, 129, 1);
    line-height: 17px;
    height: auto;
    vertical-align: text-top;
}

#workOrderDetailCon .selfBor span {
    height: 17px;
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: bold;
    line-height: 17px;
    padding: 0px 6px;
    border-radius: 2px;
    display: inline-block;
}

#workOrderDetailCon #ReturnFlagName span.snr {
    padding: 3px 12px;
    border-radius: 11px;
    background: red;
    color: white;
    line-height: 11px;
}

.errorMsg {
    margin-left: 12px;
    color: red;
}

span.normalOk {
    color: #2BC2A3;
    background: #BFFFF2;
    display: inline-block;
    border-radius: 2px;
}

span.normalTwo {
    color: rgba(255, 167, 38, 1);
    background: #FFE5BF;
    display: block;
    border-radius: 2px;
}

span.normalThree {
    color: rgba(255, 167, 38, 1);
    background: rgba(255, 238, 213, 1);
    display: block;
    border-radius: 2px;
}

b.normalTwo, b.fedbackNum, b.normalThree {
    display: block;
    border-radius: 2px;
    margin: 0 auto;
}

b.normalTwo {
    color: rgba(255, 167, 38, 1);
    background: rgba(255, 238, 213, 1);
}

b.fedbackNum {
    color: white;
    background: red;
}

b.normalThree {
    color: rgba(255, 167, 38, 1);
    background: rgba(255, 238, 213, 1);
}

em.red {
    color: #FF0000;
}

em.green {
    color: #2BC2A3;
}

/* 改期记录--start */
#contactResultCon .gqTil {
    font-size: 18px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(107, 111, 129, 1);
    line-height: 25px;
    padding-bottom: 12px;
}

#tableGqRecord {
    padding: 21px 25px 35px;
    margin: 18px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 10px 24px -4px rgba(0, 0, 0, 0.1);
}

#firstCall {
    padding: 21px 25px;
    margin: 18px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 10px 24px -4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
}

#tableSqRecord {
    padding: 21px 25px 35px;
    margin: 18px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 10px 24px -4px rgba(0, 0, 0, 0.1);
}

#tableGqRecord li, #gqCallRecord li, #tableSqRecord li, #gqCallRecords li {
    display: flex;
    border-bottom: 1px solid rgba(187, 187, 187, 1);
    padding: 14px 2em;
    width: 100%;
}

#firstCall li {
    padding-left: 14px;
    min-width: 100px;
}

#firstCall li span {
    margin-left: 28px;
}

#firstCall li.a {
    width: 220px;
    min-width: 220px;
}

#firstCall li.b {
    width: 360px;
    min-width: 220px;
}

#firstCall li span.text {
    display: block;
    margin: 0;
    width: 100px;
    height: 20px;
    text-align: center;
    background: rgba(241, 242, 244, 1);
    font-size: 12px;
    font-family: PingFang-SC-Medium;
    font-weight: 500;
    color: rgba(107, 111, 129, 1);
    line-height: 20px;
}

#gqCallRecordCon {
    display: flex;
    flex-wrap: wrap;
}

#gqCallRecordCon > div {
    flex: 1;
    min-width: 480px;
}

#gqCallRecordCon > div ul {
    min-width: 480px;
    padding: 21px 25px 35px;
    margin: 18px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 10px 24px -4px rgba(0, 0, 0, 0.1);
}

#tableSqRecord li span {
    flex: 1;
    word-break: break-word;
}

#tableGqRecord li.css, #gqCallRecord li.css, #tableSqRecord li.css, #gqCallRecords li.css {
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(107, 111, 129, 1);
    line-height: 20px;
}

#tableGqRecord li.cssn, #gqCallRecord li.cssn, #tableSqRecord li.cssn, #gqCallRecords li.cssn {
    font-weight: 400;
}

#gqCallRecord li span, #gqCallRecords li span {
    flex: 1;
}

#tableGqRecord li span {
    text-align: center;
}

#tableGqRecord li span.name {
    width: 130px;
}

#tableGqRecord li span.cd {
    width: 120px;
}

#tableGqRecord li span.ct {
    width: 200px;
}

#tableGqRecord li span.note {
    min-width: 80px;
    flex: 1;
    word-break: break-all;
}

/* 改期记录--end */
#workOrderDetailCon .colorG {
    color: #2BC2A3;
}

#customerImgUrlsInfo {
    height: auto;
}

#customerImgUrlsInfo img {
    height: 100px;
    margin: 0 10px 10px 0;
    vertical-align: text-top;
}

#gaiqiCallRecord th, #gaiqiCallRecord td {
    text-align: center;
    padding: 2px 0;
}

#contactCallRecord th, #contactCallRecord td {
    text-align: center;
    padding: 2px 0;
}

#repairSheetCon label {
    text-indent: 2em;
}

#repairSheetCon .selfBor {
    display: inline-block;
    width: 63%;
}

#repairlistCon .selfBor {
    display: inline-block;
    width: 63%;
}

#rentralistCon {
    padding-bottom: 20px;
}

#rentralistCon .selfBor {
    display: inline-block;
    width: 63%;
    height: auto;
    vertical-align: text-top;
    padding-top: 0;
    font-size: 14px;
    font-family: PingFang-SC-Regular;
    font-weight: bold;
    color: #6B6F81;
    padding-left: 0;
}

#rentralistCon .selfBor img {
    height: 64px;
    width: auto;
    margin-right: 5px;
    margin-bottom: 5px;
}

#imgRecord img {
    height: 64px;
    width: auto;
    margin-right: 5px;
    margin-bottom: 5px;
}

#anzhi li {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid rgba(187, 187, 187, 1);
    padding: 19px 1px;
}

#anzhi li:last-child {
    border: none;
}

#anzhi li span {
    flex: 1;
    text-align: center;
}

/* 租务工单详情---end */
#showBtnConNav {
    background: rgba(241, 242, 244, 1);
    padding-bottom: 30px;
}

#maintPlanCon textarea.form-control {
    margin-bottom: 10px;
    margin-left: 10px;
}

#maintPlanCon > div, #MaintCoordRecordCon > div {
    margin: 10px 0 20px;
    padding: 26px 33px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 10px 24px -4px rgba(0, 0, 0, 0.1);
}

#maintPlanCon ul, #MaintCoordRecordCon ul, #MaintettlemeSntCon ul, #MaintettlemeSntCon ul#checkedPartsOwnShowJsss, #MaintettlemeSntCon ul.other {
    font-size: 14px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(107, 111, 129, 1);
    line-height: 24px;
    background: rgba(241, 242, 244, 1);
    border-radius: 4px;
    padding: 12px 20px;
    margin: 12px 0;
}

#MaintettlemeSntCon ul.other li:nth-child(1) {

}

#maintPlanCon ul#chatRecord {
    background: white;
    padding: 0;
    margin: 0;
}

#MaintettlemeSntCon ul#checkedPartsOwnShowJsss {
    margin-bottom: 0;
    padding-bottom: 0;
    border-radius: 4px 4px 0 0;
    margin-top: 0;
}

#MaintettlemeSntCon ul#checkedPartsOwnShowJsss > li {
    border-bottom: 1px solid rgba(187, 187, 187, 1);
}

#MaintettlemeSntCon ul.other {
    margin-top: 0;
    padding-top: 0;
    border-radius: 0 0 4px 4px;
}

#chatRecord li > em {
    white-space: nowrap;
    text-indent: 0;
}

#maintPlanCon .left ul li, #MaintCoordRecordCon .left ul li, #MaintettlemeSntCon ul#checkedPartsOwnShowJsss li, #MaintettlemeSntCon ul.other li {
    display: flex;
    word-break: break-word;
    padding: 5px 0;
}

#maintPlanCon .left #chatRecord li {
    padding: 5px 8px;
}

#maintPlanCon .left ul.other li, #MaintCoordRecordCon .left ul.other li {
    display: block;
}

#maintPlanCon .left ul.other img, #MaintCoordRecordCon .left ul.other img {
    vertical-align: text-top;
}

#maintPlanCon .left ul li div, #MaintCoordRecordCon .left ul li div, #MaintettlemeSntCon ul#checkedPartsOwnShowJsss li div, #MaintettlemeSntCon ul.other li div {
    flex: 1;
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(107, 111, 129, 1);
    line-height: 20px;
    text-indent: 0;
    word-break: break-all;
}

#MaintettlemeSntCon ul#checkedPartsOwnShowJsss li div {
    font-weight: bold;
}

#maintPlanCon .left ul li div.fourh, #MaintCoordRecordCon .left ul li div.fourh {
    font-weight: 400;
}

.fourh > em {
    display: block;
    margin: 5px 0;
}

#maintPlanCon .left ul.normal li div, #MaintCoordRecordCon .left ul.normal li div, #MaintettlemeSntCon ul.other li div {
    font-family: PingFangSC-Regular;
    font-weight: 400;
    padding-right: 3px;
}

#MaintettlemeSntCon ul.normal li div div {
    text-indent: 0;
}

#MaintettlemeSntCon div.otherCon {
    display: flex;
}

#MaintettlemeSntCon div.otherCon > div {
    flex: 1;
}

#MaintettlemeSntCon div.otherCon > div div {
    text-indent: 0;
}

#MaintettlemeSntCon div.otherCon .selfBor {
    word-break: keep-all;
}

#maintPlanCon .right ul {
    border: 1px solid rgba(107, 111, 129, 1);
}

#maintPlanCon .right ul li:nth-child(1) {
    border-bottom: 1px solid rgba(107, 111, 129, 1);
}

#maintPlanCon .right ul li:nth-child(5) {
    border-top: 1px solid rgba(107, 111, 129, 1);
}

.chatRecord em {
    font-weight: 800;
    margin-right: 10px;
}

#maintPlanCon .left, #MaintCoordRecordCon .left {
    padding: 6px;
}

#maintPlanCon .left > .form-group, #MaintCoordRecordCon .left > .form-group {
    margin: 0;
    text-indent: 1em;
    font-size: 12px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(107, 111, 129, 1);
    line-height: 18px;
}

#maintPlanCon .left .form-group label, #MaintCoordRecordCon .left .form-group label, #MaintettlemeSntCon .form-group label {
    font-weight: 400;
    font-size: 14px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(187, 187, 187, 1);
    line-height: 20px;
}

#maintPlanCon .left > .boldTil, #MaintCoordRecordCon .left > .boldTil {
    border-bottom: 1px solid rgba(237, 238, 240, 1);
}

#maintPlanCon .boldTils, #MaintCoordRecordCon .boldTils {
    font-size: 18px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(107, 111, 129, 1);
    line-height: 25px;
    padding: 0;
    box-shadow: none;
    background: rgba(241, 242, 244, 1);
    margin-bottom: 12px;
}

#maintPlanCon .boldTils .shenpiBtn, #MaintCoordRecordCon .boldTils .shenpiBtn {
    margin-left: 12px;
    background: #2BC2A3;
    color: white;
    width: 64px;
}

#maintPlanCon .boldTils .normalOks, #maintPlanCon .boldTils .normalThrees, #maintPlanCon .boldTils .normalTwos {
    height: 28px;
    margin-left: 12px;
    display: inline-block;
    width: 56px;
    vertical-align: text-top;
    line-height: 25px;
    text-align: center;
    font-size: 18px;
}

#maintPlanCon .boldTils span.normalOks {
    color: rgba(43, 194, 163, 1);
    font-weight: bolder;
}

#maintPlanCon .boldTils span.normalTwos {
    color: rgba(255, 167, 38, 1);
    font-weight: bolder;
}

#maintPlanCon .boldTils span.normalThrees {
    font-weight: bolder;
}

#maintPlanCon .left > .boldTil label, #MaintCoordRecordCon .left > .boldTil label {
    font-weight: 700;
}

#maintPlanCon .right {
    padding: 4px;
}

#maintPlanCon .right .form-group {
    margin: 0 0 15px 0;
}

#maintPlanCon .left > .form-group > div, #MaintCoordRecordCon .left > .form-group > div, #MaintettlemeSntCon .form-group > div {
    display: inline-block;
    vertical-align: top;
}

#maintPlanCon .left > .form-group > div.hundred {
    width: 100%;
}

#maintPlanCon .selfBor, #MaintCoordRecordCon .selfBor, #MaintettlemeSntCon .selfBor {
    height: auto;
    text-indent: 0;
    word-break: break-word;
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: bold;
    color: rgba(107, 111, 129, 1);
    line-height: 20px;
}

#MaintettlemeSntCon .selfBor {
    width: 100%;
}

#maintPlanCon .right .selfBor, #MaintCoordRecordCon .right .selfBor {
    display: inline-block;
    width: 80%;
    vertical-align: text-top;
    padding-top: 0;
}

#maintPlanCon img, #MaintCoordRecordCon img, #MaintettlemeSntCon img {
    height: 64px;
    width: auto;
    margin-right: 12px;
    margin-bottom: 12px;
    vertical-align: text-top;
}

#maintPlanCon .right {
    width: 320px;
}

#maintPlanCon .normal li, #maintPlanCon .other li, #MaintCoordRecordCon .normal li, #MaintCoordRecordCon .other li {
    margin-bottom: 4px;
}

#maintPlanCon .normal li:nth-child(1), #MaintCoordRecordCon .normal li:nth-child(1) {
    border-bottom: 1px solid rgba(187, 187, 187, 1);
}

#maintPlanCon .left .normal li:nth-child(1) div, #MaintCoordRecordCon .left .normal li:nth-child(1) div {
    font-weight: bold;
}

#maintPlanCon .other li > div:nth-child(1), #MaintCoordRecordCon .other li > div:nth-child(1) {
    border-bottom: 1px solid rgba(187, 187, 187, 1);
    padding: 5px 0;
}

#MaintettlemeSntCon > .form-group > div {
    display: inline-block;
    vertical-align: inherit;
}

#MaintettlemeSntCon > .form-group {
    text-indent: 1em;
}

.peijian {
    width: 100%;
    vertical-align: text-top;
}

.peijian .selfBors {
    padding-top: 0;
    margin-bottom: 0px;
    padding: 0;
}

.peijian ul li > div {
    display: flex;
}

.peijian ul li > div > div {
    flex: 1;
}

#housrSouceCon {
    display: flex;
}

#housrSouceCon > div {
    flex: 1;
}

/* 配置-start */
#roomName span {
    padding: 0 10px 0 2px;
    border-bottom: 1px solid rgba(237, 238, 240, 1);
    cursor: pointer;
}

#roomName span:nth-child(1) {
    border-radius: 4px 0 0 4px;
}

#roomName span:last-child {
    border-radius: 0 4px 4px 0;
}

#roomName span.check {
    color: #2BC2A3;
}

#roomDetail ul li {
    display: flex;
    line-height: 24px;
}

#roomDetail ul li > div:nth-child(2) {
    width: 100px;
}

#roomDetail ul li > div:nth-child(1) {
    flex: 1;
    word-break: break-all;
}

/* 配置-end */
#housrSouceCon .form-group label {
    white-space: nowrap;
}

#shjsfaCon .form-group {
    margin: 0;
    text-indent: 1em;
}

#shjsfaCon .titleT {
    width: 96px;
    font-size: 14px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(107, 111, 129, 1);
    line-height: 20px;
    margin-bottom: 15px;
}

#shjsfaCon .form-group > div {
    display: inline-block;
    width: 90%;
    word-break: break-word;
    vertical-align: text-top;
    text-indent: 0;
    padding-top: 0;
    height: auto;
}

#shjsfaCon #feeMoney {
    text-indent: 0;
}

#shjsfaCon #feeMoney div > .form-group {
    text-indent: 0;
}

#shjsfaCon #feeMoney > div {
    width: 50%;
    text-indent: 0;
    padding: 0;
}

.imgs {
    width: 100%;
    height: auto;
}

#shjsfaCon #dutyIdentifyJs {
    text-indent: 2em;
    margin-bottom: 12px;
}

#shjsfaCon #isReleasedJs {
    text-indent: 2em;
    margin-bottom: 5px;
}

#shjsfaCon #isReWorkRecordJs {
    text-indent: 2em;
    margin-bottom: 5px;
}

#shjsfaCon #checkUpgradeJs {
    text-indent: 2em;
    margin-bottom: 12px;
}

#dutyIdentify input {
    margin-top: 0;
}

/* 创建维修方案 */
#parts {
    display: flex;
    margin: 0 auto;
    padding: 0 30px;
}

#parts > div.left {
    flex: 1;
}

#parts > div.right {
    width: 420px;
}

.layui-input-inline {
    width: 100%;
}

.fixWidthA .layui-input-inline {
    max-width: 150px;
}

#zpgysCon .layui-input-inline {
    width: 100%;
}

#zpgysCon .layui-form-select .layui-input {
    height: 32px;
    border: 1px solid #e5e6e7;
}

#parts .control-label {
    height: 32px;
    font-size: 14px;
    font-family: PingFangSC-Semibold;
    font-weight: 600;
    color: rgba(107, 111, 129, 1);
    line-height: 32px;
    margin-top: 30px;
}

#firstPartsType button, #secondPartsType button {
    margin-right: 12px;
    margin-bottom: 12px;
    background: rgba(255, 255, 255, 1);
    font-size: 12px;
    font-family: PingFang-SC-Regular;
    font-weight: 400;
    color: rgba(107, 111, 129, 1);
    border-radius: 3px;
    border: 1px solid rgba(228, 229, 236, 1);
}

#firstPartsType button.btn-info, #secondPartsType button.btn-info {
    background: rgba(43, 194, 163, 1);
    color: rgba(255, 255, 255, 1);
}

#parts .multiselect-container > li > a > label > input[type=checkbox] {
    margin-top: 5px;
}

#shenpiCon .radio-inline input[type=radio] {
    margin-top: 2px;
}

.sweet-alert {
    z-index: 9999999999;
}

#checkedPartsSelf img, #checkedPartsSelfJs img {
    vertical-align: text-top;
    margin: 5px 10px 5px 5px;
    width: auto;
    height: 52px;
    background: rgba(155, 155, 155, 1);
    border-radius: 3px;
}

#checkedPartsOwn em {
    font-weight: 400;
    margin-right: 3px;
    font-weight: 600;
    color: rgba(107, 111, 129, 1);
}

#checkedPartsSelf li, #checkedPartsSelfJs li {
    padding: 5px 25px 5px 5px;
    font-size: 12px;
    position: relative;
    border-top: 1px solid #ccc;
}

#checkedPartsSelf {
    background: rgba(245, 245, 245, 1);
}

#checkedPartsSelfJs {
    background: rgba(245, 245, 245, 1);
}

ul.noPadding {
    padding: 0;
}

ul.yesPadding {
    padding: 5px;
}

#checkedPartsOwn li, #checkedPartsOwnTitle li {
    border-bottom: 1px solid #CCCCCC;
    padding: 8px;
    margin-bottom: -1px;
    display: flex;
}

#checkedPartsOwn li div:nth-child(1), #checkedPartsOwnTitle li div:nth-child(1) {
    flex: 1;
}

#checkedPartsOwn li div:nth-child(2), #checkedPartsOwnTitle li div:nth-child(2) {
    width: 84px;
}

#checkedPartsOwn li div:nth-child(3), #checkedPartsOwnTitle li div:nth-child(3) {
    width: 84px
}

#checkedPartsOwn li div:nth-child(4), #checkedPartsOwnTitle li div:nth-child(4) {
    width: 84px;
}

#checkedPartsOwnShowJss li:nth-child(1) {
    border-bottom: 1px solid #ccc;
}

#checkedPartsOwnShowJs li > div {
    flex: 1
}

#checkedPartsOwnShows li, #checkedPartsOwnShowJss li {
    display: flex;
    padding: 5px 0 5px 5px;
    font-size: 12px;
    font-family: PingFang-SC-Bold;
    font-family: PingFang-SC-Regular;
    font-weight: 400;
    color: rgba(107, 111, 129, 1);
    position: relative;
}

#checkedPartsOwnShow li, #checkedPartsOwnShowJs li {
    display: flex;
    padding: 5px 0 5px 5px;
    font-size: 12px;
    font-family: PingFang-SC-Regular;
    font-weight: 400;
    color: rgba(107, 111, 129, 1);
    position: relative;
}

#checkedPartsOwnShowJss li > div {
    flex: 1;
}

#checkedPartsSelf li > div, #checkedPartsOwn li > div, #checkedPartsSelfJs li > div {
    display: flex;
}

#checkedPartsOwn li > div > div, #checkedPartsSelf li > div > div, #checkedPartsSelfJs li > div > div {
    flex: 1;
    font-family: PingFang-SC-Regular;
    font-weight: 400;
    color: rgba(107, 111, 129, 1);
    word-break: break-word;
}

#checkedPartsSelf li > div > div, #checkedPartsSelfJs li > div > div {
    line-height: 20px;
}

#checkedPartsSelf li > div > div:nth-child(1) {
    font-weight: bold;
    color: rgba(107, 111, 129, 1);
}

#checkedPartsOwnShow li > div, #checkedPartsOwnShows li > div {
    flex: 1;
    word-break: break-word;
}

#checkedPartsOwnShows {
    border-bottom: 1px solid rgba(228, 229, 236, 1);
    font-weight: bold;
}

#checkedPartsOwn li > div.a, #checkedPartsOwnShowJs li > div.a, #checkedPartsOwnShowJss li > div.a {
    width: 40%;
}

#checkedPartsOwn li > div.b, #checkedPartsOwnShowJs li > div.b, #checkedPartsOwnShowJss li > div.b {
    width: 15%;
}

#checkedPartsOwn li > div input, #checkedPartsOwnShow li > div input, #checkedPartsOwnShowJs li > div input, #checkedPartsSelf li > div input {
    width: 80px;
}

#checkedPartsOwn li > div > div textarea, #checkedPartsOwnShow li > div > div textarea, #checkedPartsSelf li > div > div textarea, #checkedPartsSelfJs li > div > div textarea {
    vertical-align: top;
    width: 88%;
}

#checkedPartsOwn .deletePartOwn, #checkedPartsOwnShow .deletePartOwn, #checkedPartsSelf .deletePartOwn, #checkedPartsSelfJs .deletePartOwn, #checkedPartsOwnShowJs .deletePartOwn {
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 18px;
    height: 18px;
    border: 1px solid rgba(107, 111, 129, 1);
    border-radius: 50%;
    text-align: center;
    color: rgba(107, 111, 129, 1);
    cursor: pointer;
    text-indent: 0;
}

#checkedPartsSelf .addSelfPart, #checkedPartsSelfJs .addSelfPart {
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 71px;
    height: 21px;
    background: rgba(255, 255, 255, 1);
    border-radius: 3px;
    border: 1px solid rgba(228, 229, 236, 1);
    font-size: 12px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(107, 111, 129, 1);
    text-align: center;
    display: block;
    text-indent: 0;
    cursor: pointer;
}

#cjPartsPrice {
    text-align: right;
}

#jsPartsPrice {
    text-align: right;
}

#rentralistCon .borderCon {
    padding: 10px;
    display: flex;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 10px 24px -4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin: 12px 24px;
}

/*  审核结算方案*/
#deleteFee {
    color: rgba(255, 0, 0, 1);
}

#shjsfaCon input {
    margin-top: 3px;
}

#shjsfaCon input.nums {
    width: 48px;
}

#shjsfaCon .radio-inline {
    padding-left: 0;
    padding-top: 0;
}

/* 审核结算方案 */
#shjsfaCon .form-group > div > div#partsInfos {
    display: flex;
    margin-top: -6px;
}

#partsInfos > div {
    flex: 1;
}

#partsInfos > div.pr {
    text-align: right;
    padding-top: 6px;
}

#partsInfos > div.pr em {
    color: #1AB394;
    cursor: pointer;
}

#feeMoney input, #feeMoney select {
    width: 84px;
}

#feeMoney label, #feeMoney div.col-sm-8 {
    padding-left: 0;
    padding-right: 0;
}

#feeMoney div.col-sm-8 {
    width: auto;
}

.delOwn {
    cursor: pointer;
}

#feeMarginP {
    padding-right: 30px;
}

/* 搜索---start */
#formSear li {
    display: flex;
    padding-left: 28px;
}

#formSear li .tag {
    width: 48px;
    line-height: 32px;
}

#formSear li .detail {
    flex: 1;
}

#SearchConss #formSear .form-group {
    display: inline-block;
    vertical-align: text-top;
}

#SearchConss #formSear .form-groups {
    width: 375px;
    margin-bottom: 28px;
}

#SearchConss #formSear .form-groups .control-label {
    display: inline-block;
    width: 68px;
}

#SearchConss #formSear .form-groups > div {
    display: inline-block;
}

#SearchConss #formSear .form-groups input {
    width: 300px;
}

#SearchConss .btn {
    width: 113px;
    height: 28px;
    border-radius: 3px;
    font-size: 14px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    line-height: 16px;
}

#sureMoreSave {
    background: rgba(43, 194, 163, 1);
    color: rgba(255, 255, 255, 1);
}

#cancelMoreSave {
    background: rgba(228, 229, 236, 1);
    color: rgba(107, 111, 129, 1);
}

/* 搜索---end */
.multiselect-container > li > a > label.checkbox {
    color: #000;
    position: relative;
}

.multiselect-container > li > a > label.checkbox > input {
    position: relative;
    vertical-align: -webkit-baseline-middle;
}

.btn-group {
    margin-top: -5px;
    vertical-align: middle;
}

#zpwxyCon input[type=radio], #fenpeiCon input[type=radio] {
    top: 12px;
    margin-top: 0;
}

/* cjwxfa-start */
#cjwxfaCon {
    font-size: 12px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(107, 111, 129, 1);
    width: 90%;
    padding-top: 10px;
    margin: 0 auto;
}

.layui-layer .layui-layer-page {
    background: #e5e6e7 !important;
}

.form-control, .single-line {
    font-size: 12px;
    height: auto;
}

textarea.form-control {
    height: 120px;
    line-height: 18px;
    letter-spacing: 1px;
}

#yjzbChildONote {
    height: 400px;
}

.inputNums {
    text-align: right;
}

.pl .addParts {
    width: 120px;
    font-size: 12px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    height: 28px;
    background: rgba(43, 194, 163, 1);
    border-radius: 3px;
    margin-top: 8px;
}

#partsInfo {
    display: flex;
    height: 42px;
}

#partsInfo > div {
    flex: 1;
}

#partsInfo > div.pr {
    text-align: right;
    padding-top: 6px;
}

#partsInfo > div.pr em, #partsInfos > div.pr em {
    width: 162px;
    height: 42px;
    font-size: 12px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(74, 144, 226, 1);
    line-height: 28px;
    cursor: pointer;
}

#checkedPartsOwnShow > li:nth-child(1) {

}

/* cjwxfa-end */
/* shwxfa---start */
#remarkUrlJs {
    height: auto;
}

#remarkUrlJs img, #checkedPartsSelfJs img, #RecordDetail img {
    width: auto;
    height: 71px;
    border-radius: 3px;
    margin-right: 8px;
    margin-bottom: 8px;
    vertical-align: text-top;
}

span.bgg, span.bgr {
    padding: 0 10px;
    height: 21px;
    background: rgba(43, 194, 163, 1);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    font-size: 12px;
    font-family: PingFangSC-Semibold;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    line-height: 21px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    text-indent: 0;
}

span.bgg {
    background: rgba(255, 0, 0, 1);
}

.bgr {
    background: lightgreen;
}

/* shwxfa---end */
.layui-form-selected dl {
    width: 96%;
}

#formSear .layui-form-selected dl {
    max-height: 230px;
}

#formSear .layui-form-selected dl > div {
    padding-bottom: 88px;
}

#repairlistCon {
    margin: 0 10px;
}

#repairlistCon #customerImgUrlsLInk img {
    margin: 0 10px 10px 0;
    height: 80px;
    width: auto;
}

#customerImgUrlsLInk {
    vertical-align: text-top;
    height: auto;
}

/* 配件类型=start */
#partTypeCon > ul > li {
    display: flex;
    cursor: pointer;
}

#partTypeCon > ul > li > span.uncheck {
    text-align: center;
    width: 16px;
    height: 16px;
    line-height: 16px;
    border: 1px solid #d2d2d2;
    font-size: 12px;
    border-radius: 2px;
    background-color: #fff;
    color: white;
    margin-right: 8px;
    margin-top: 6px;
}

#partTypeCon > ul > li > span {
    word-break: break-all;
}

#partTypeCon > ul > li > span.fee {
    width: 100px;
}

#partTypeCon > ul > li > span.type {
    width: 64px;
}

#partTypeCon > ul > li > span.brand {
    width: 64px;
}

#partTypeCon > ul > li > span.name {
    flex: 1;
}

#partTypeCon > ul > li.partsTypeCheck > span.uncheck {
    background-color: rgba(43, 194, 163, 1) !important;
}

#partTypeCon > ul > li > span {
    margin-right: 4px;
    line-height: 28px;
}

/* 配件类型=end */
/* 维修方案/维修协调记录--start */
.boldTil {
    font-size: 14px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(107, 111, 129, 1);
    line-height: 20px;
}

.boldTil .control-label {
    font-size: 14px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
}

#maintPlanCon .fanganListFee {
    display: flex;
}

#maintPlanCon .fanganListFee > div {
    flex: 1;
    text-indent: 1em;
    margin: 0;
}

#maintPlanCon .fanganListFee > div .selfBor {
    display: inline-block;
    width: auto;
    font-family: PingFang-SC-regular;
    font-weight: 400;
}

/* 维修方案/维修协调记录--end */
img {
    cursor: pointer;
}

#showImgLoading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.23);
    z-index: 999999999999;
}

#showImgLoading > div {
    position: relative;
    width: 100%;
    height: 100%;
}

#showImgLoading img {
    width: 80px;
    height: auto;
    display: block;
    margin: 30% auto;
}

#showImg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.72);
    z-index: 999999999999;
}

#father {
    position: relative;
    width: 100%;
    height: 100%;
}

#box {
    height: 98%;
    position: absolute;
    width: 100%;
}

#showImg img {
    width: auto;
    height: 75%;
    display: block;
    margin: 40px auto 30px;
    cursor: move;
}

#showImg ul {
    display: flex;
    text-align: center;
    font-size: 18px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: white;
    margin: 0 40px;
}

#showImg ul li {
    flex: 1;
}

#showImg ul li em {
    cursor: pointer;
}

#showImg ul li em.grayS {
    color: #ccc;
}

#btnImgAll {
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 999999;
}

#btnImgAll ul {
    width: 40%;
    margin: 0 auto;
    min-width: 240px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    padding: 6px 0;
}

body .layui-layer-btn0 {
    border-color: #E6E3E6;
    background-color: #FFF;
    color: black;
}

body .layui-layer-btn1 {
    border-color: #4898d5;
    background-color: #2e8ded;
    color: #fff;
}

.sweet-alert .sa-icon.sa-success .sa-fix {

}

.scroll {
    width: 100%;
    overflow-x: auto;
}

#workOrderDetailCon {
    background: #F1F2F4;
    padding-bottom: 15px;
}

#workOrderDetailCon .selfBor {
    background: none;
    vertical-align: text-top;
}

/* 工单详情---start */
#workOrderDetailCon .bContainer .form-group {
    margin-bottom: 0;
}

#maintPlan em, #MaintettlemeSnt em {
    font-size: 12px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    line-height: 12px;
    border-radius: 1px;
    padding: 2px 5px;
    margin-left: 4px;
}

#maintPlan .a, #MaintettlemeSnt .a {
    color: #2BC2A3;
    background: #BFFFF2;
}

#maintPlan .b, #MaintettlemeSnt .b {
    color: rgba(255, 167, 38, 1);
    background: #FFE5BF;
}

#maintPlan .c, #MaintettlemeSnt .c {
    color: rgba(255, 167, 38, 1);
    background: rgba(255, 238, 213, 1);
}

/* 工单详情---end */
.conPt {
    padding-top: 12px;
}

/* 文本原样式输出 */
.pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

/* 订单详情---start- */
/* 退撤单详情---start */
#quitDetailCon {
    margin: 0 10px;
}

/* 退撤单详情---end */
/* 工单详情，报修工单，租务工单，装修配置信息 */
.bContainer {
    background: white;
    padding: 26px 33px;
    box-shadow: 0px 10px 24px -4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    margin-bottom: 15px;
}

.bContainer label {
    font-size: 14px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(187, 187, 187, 1);
    line-height: 20px;
}

.bContainer .selfBor {
    font-size: 14px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: #6B6F81;
    line-height: 18px;
    margin-bottom: 5px;
    display: inline-block;
    width: 85%;
    vertical-align: text-top;
    padding: 0;
}

@media screen and (max-width: 1080px) {
    .detailCss {
        display: block;
    }

    .detailCss > div {
        display: block;
        margin: 0 16px;
    }

    #configInfoCon > .right {
        margin-top: 24px;
    }

    #configInfoCon > div > div.left > div > div:nth-child(1) {
        padding-top: 10px;
    }

    #workOrderDetailCon > div > div.right > div.normal {
        margin-top: 0;
    }

    #rentralistCon .selfBor {
        width: 85%;
    }

    #followUpRecordCon .inblock {
        width: 100%;
    }
}

@media screen and (min-width: 1081px) {
    .detailCss {
        display: flex;
    }

    .detailCss > div {
        flex: 1;
        vertical-align: text-top;
    }

    .detailCss > div.left {
        margin: 0 8px 0 16px;
    }

    .detailCss > div.right {
        margin: 0 16px 0 8px;
    }

    #configInfoCon > div > div.left > div > div:nth-child(1) {
        padding-top: 30px;
    }
}

#rentralistCon .title label {
    font-size: 18px;
    font-family: PingFang-SC;
    font-weight: bold;
    color: rgba(187, 187, 187, 1);
    line-height: 25px;
    border-bottom: 4px solid rgba(187, 187, 187, 1);
    display: block;
    float: left;
    padding: 5px 8px;
    cursor: pointer;
}

#rentralistCon .title label.active {
    color: rgba(43, 194, 163, 1);
    border-bottom: 4px solid rgba(43, 194, 163, 1);
}

#rentralistCon .title:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* 图片放大缩小功能start--- */
#page {
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    margin-top: 0px;
    margin-bottom: -83px;
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(255, 255, 255);
    /* RGBa with 0.6 opacity */
    background: rgba(255, 255, 255, 0.7);

    border-right: solid 1px #EBE7E7;
    border-left: solid 1px #EBE7E7;
    min-height: 100%;
    height: 100%;
}

#pageContent {
    position: absolute;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
    overflow: hidden;
}

#imgContainer {
    width: 100%;
    height: 90%;
}

#imgContainer img {
    min-height: 50px;
    min-width: auto;
}

/* 图片放大缩小功能end--- */
/*待分配-浮层-  start*/
#daifenpeiCon {
    padding: 3px;
    position: fixed;
    bottom: 80px;
    right: 5px;
}

#daifenpeiCon > div {
    position: relative;
}

#daifenpeiCon > div .circle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #27BCAD;
    opacity: 0.24;
    margin-top: -71px;
    margin-left: -24px;
}

#daifenpeiCon ul {
    width: 200px;
    height: 120px;
    padding: 10px 0;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 7px 17px 0px rgba(58, 144, 135, 0.14);
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
}

#daifenpeiCon ul li.title {
    font-size: 14px;
    font-family: PingFangSC-Regular;
    font-weight: 400;
    color: rgba(107, 111, 129, 1);
    line-height: 30px;
    margin: 0 20px;
    border-bottom: 1px solid rgba(237, 238, 240, 1);
}

#daifenpeiCon ul li.num {
    font-size: 30px;
    font-family: PingFang-SC-Bold;
    font-weight: bold;
    color: rgba(39, 188, 173, 1);
    line-height: 52px;
    height: 42px;
}

#daifenpeiCon ul li.text {
    font-size: 12px;
    font-family: PingFangSC-Light;
    font-weight: bold;
    color: rgba(107, 111, 129, 1);
    line-height: 24px;
}

#controlFenpeiNum {
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    color: white;
    border-radius: 50%;
    background: rgba(39, 188, 173, 1);
    cursor: pointer;
    position: absolute;
}

#controlFenpeiNums {
    width: 42px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    color: white;
    border-radius: 50%;
    background: rgba(39, 188, 173, 1);
    box-shadow: 0px 22px 17px 0px rgba(39, 188, 173, 0.14);
    cursor: pointer;
    position: absolute;
    z-index: -999;
}

#daifenpeiCon > div > div.a {
    top: 39px;
    left: -21px;
}

#daifenpeiCon > div > div.b {
    top: 39px;
    left: -21px;
}

/*待分配-浮层-  end */
/*维修反馈详情---90天返修记录---结算待审核*/
#RecordDetail .til {
    font-size: 18px;
    font-family: PingFangSC-Semibold, PingFangSC;
    font-weight: 600;
    color: rgba(107, 111, 129, 1);
    line-height: 25px;
    margin-bottom: 6px;
}

#shjsfaCon #RecordDetail {
    padding: 10px;
    margin: 5px auto;
    background: rgba(237, 238, 240, 1);
    box-shadow: 0px 10px 24px -4px rgba(0, 0, 0, 0.1);
}

#NinetyRecordCon {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    padding: 10px;
    margin: 5px auto;
    background: rgba(237, 238, 240, 1);
    box-shadow: 0px 10px 24px -4px rgba(0, 0, 0, 0.1);
}

#shjsfaCon .form-group > div.left_record {
    width: 70%;
    height: 420px;
    overflow: scroll;
    text-align: center;
}

#shjsfaCon .form-group > div.right_record {
    width: 30%;
    height: 420px;
    overflow: scroll;
}

#recordListCon .fixa {
    width: 120px;
}

#recordListCon .fixb {
    width: 80px;
}

#recordListCon .fixc {
    width: 100px;
}

#recordListCon .fixd {
    width: 180px;
}

#recordListCon .fixe {
    width: 140px;
}

#recordListCon .auto {
    flex: 1;
}

#shjsfaCon .form-group > div.left_record ul {
    min-width: 1000px;
    border: 1px solid #C2C2C2;
}

#shjsfaCon .form-group > div.right_record ul {
    min-width: 480px;
    white-space: initial;
}

#recordListCon li {
    display: flex;
    border-bottom: 1px solid #C2C2C2;
    white-space: initial;
}

#recordListCon li:last-child {
    border-bottom: none;
}

#recordListCon li div {
    border-right: 1px solid #C2C2C2;
    padding: 1px;
}

#recordListCon li div:last-child {
    border-right: none;
}

/*结算审核通过*/
#RecordDetailJs .til {
    font-size: 18px;
    font-family: PingFangSC-Semibold, PingFangSC;
    font-weight: 600;
    color: rgba(107, 111, 129, 1);
    line-height: 25px;
    margin-bottom: 6px;
}

#MaintettlemeSntCon #RecordDetailJs {
    padding: 10px;
    margin: 5px auto;
    background: rgba(237, 238, 240, 1);
    box-shadow: 0px 10px 24px -4px rgba(0, 0, 0, 0.1);
}

#NinetyRecordConJs {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    padding: 10px;
    margin: 5px auto;
    background: rgba(237, 238, 240, 1);
    box-shadow: 0px 10px 24px -4px rgba(0, 0, 0, 0.1);
}

#MaintettlemeSntCon .form-group > div.left_record {
    width: 70%;
    max-height: 420px;
    overflow: scroll;
    text-align: center;
}

#MaintettlemeSntCon .form-group > div.right_record {
    width: 30%;
    max-height: 420px;
    overflow: scroll;
}

#recordListConJs .fixa {
    width: 120px;
}

#recordListConJs .fixb {
    width: 80px;
}

#recordListConJs .fixc {
    width: 100px;
}

#recordListConJs .fixd {
    width: 180px;
}

#recordListConJs .fixe {
    width: 140px;
}

#recordListConJs .auto {
    flex: 1;
}

#MaintettlemeSntCon .form-group > div.left_record ul {
    min-width: 1000px;
    border: 1px solid #C2C2C2;
}

#MaintettlemeSntCon .form-group > div.right_record ul {
    min-width: 480px;
    white-space: initial;
}

#recordListConJs li {
    display: flex;
    border-bottom: 1px solid #C2C2C2;
    white-space: initial;
}

#recordListConJs li:last-child {
    border-bottom: none;
}

#recordListConJs li div {
    border-right: 1px solid #C2C2C2;
    padding: 1px;
}

#recordListConJs li div:last-child {
    border-right: none;
}

#MaintettlemeSntCon ul#recordListConJs {
    padding: 0;
}

/* 订单详情---end- */
