.btn {
    color: #676a6c;
    /*background: white;*/
    border-color: #F3F3F4;
}

.btn-default {
    background-color: #23c6c8;
    color: #FFF;
}

.btn-info {
    /* 	color: #676a6c;
        background: white; */
    background-color: #23c6c8;
    color: #FFF;
}

#workOrderDetailCon {
    margin: 10px;
    padding: 8px 0;
    background: #F3F3F4;
}

#workOrderDetailCon > div > .title {
    text-indent: 14px;
    font-weight: bold;
    color: #080808;
    line-height: 36px;
    margin-bottom: 5px;
    border-top: 1px solid #d5d5d5;
}

#workOrderDetailCon > div .form-group {
    width: 20%;
    display: inline-block;
    margin: 5px 0 0 15px;
}

#workOrderDetailCon > div > .titles {
    border-top: none;
    width: 100%;
    margin: 0;
}

#workOrderDetailCon > div > .titles label {
    margin: 0;
    padding: 0;
}

#workOrderDetailCon > div .form-groups {
    width: 32%;
}

#workOrderDetailCon > div .form-groupss {
    width: 99%;
}

.col-sm-4 {
    padding-right: 0;
}

.workOrderDetailCon {
    margin: 10px;
    padding: 8px 0;
    background: #F3F3F4;
}

.workOrderDetailCon > div > .title {
    text-indent: 14px;
    font-weight: bold;
    color: #080808;
    line-height: 36px;
    margin-bottom: 5px;
    border-top: 1px solid #d5d5d5;
}

.workOrderDetailCon > div .form-group {
    width: 20%;
    display: inline-block;
    margin: 5px 0 0 15px;
}

.workOrderDetailCon > div > .titles {
    border-top: none;
    width: 100%;
    margin: 0;
}

.workOrderDetailCon > div > .titles label {
    margin: 0;
    padding: 0;
}

.workOrderDetailCon > div .form-groups {
    width: 32%;
}

.workOrderDetailCon > div .form-groupss {
    width: 99%;
}